<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ site.title }}</title>

  <!-- OG cards -->
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="{{ page.url }}">
  <!-- End OG cards -->

  <meta name="description" content="">
  <meta name="generator" content="Eleventy - 11ty - https://11ty.dev">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/output.css">
  <link rel="stylesheet" href="/convert.css">
  <link rel="stylesheet" href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.3.0/tooltips.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  >
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/Primer/19.3.0/color-modes.min.css"
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  >
</head>
